
{% extends 'base.html' %}
{% load static %}
{% block content %}
<h1>School list</h1>
<div class="row">
<table class="table">
  <thead>
    <tr>
      <th scope="col">name</th>
      <th scope="col">address</th>
      <th scope="col">population</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
  {% for i in school %}
    <tr>
      <td>{{i.name}}</td>
      <td>{{i.address}}</td>
      <td>{{i.population}}</td>
      <td><a href="{% url 'log:SchoolDetailView' i.id %}">Details</a></td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
{% endblock %}